<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeDemo"
        tools:targetApi="31">
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
        </activity>

        <!--debug切换布局用界面-->
        <activity android:name=".ui.debugActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--登陆界面-->
        <activity android:name=".ui.LoginActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN"/>-->
<!--                <category android:name="android.intent.category.LAUNCHER"/>-->
<!--            </intent-filter>-->
        </activity>

        <!--新建帖子界面-->
        <activity android:name=".ui.NewPostActivity"></activity>

<!--        模块（论坛主体）界面-->
        <activity android:name=".ui.DrawerActivity"></activity>
        <activity android:name=".ui.ModuleActivity"></activity>
    </application>

</manifest>